@import "../../../styles/config";
.wrapper {
  color: white;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background: url("/images/HeroImagemd.png");
  background-repeat: no-repeat;
  .content {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding: 100px;

    .title {
      font-weight: 500;
      font-size: 24px;
    }
    .inputWrapper {
      background-color: white;
      color: $black;
      border-radius: 60px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 23px 28px;
      & > input {
        flex: 1;
        outline: 0;
        border: none;
        font-size: 18px;
        font-weight: 500;
        color: $black;
        font-family: Montserrat;
      }
    }
  }
}
