@import "../../styles/config";
.wrapper {
  cursor: pointer;
  .img {
    width: 220px;
    height: 220px;
    margin-bottom: 10px;
    border-radius: 24px;
  }
  .name {
    color: $dark-green;
    font-weight: 600;
    font-size: 18px;
  }
}
