@import "../../../styles/config";
.wrapper {
  background-color: $light-green-bg;
  padding: 15px 40px 100px 100px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  min-height: 567px;

  .title {
    color: $dark-green;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    padding: 25px 0;
    &::after {
      content: "";
      position: absolute;
      width: 60px;
      height: 2px;
      background-color: $dark-green;
      bottom: 18px;
      left: 0;
    }
  }
  .titleBig {
    font-size: 48px;
    font-weight: bold;
    position: relative;
    color: $dark-green;
    padding-bottom: 25px;
    & > span {
      position: absolute;
      right: 0;
      bottom: 25px;
      font-size: 18px;
      color: $light-green;
      transform: translateY(-50%);
    }
  }
  .cardWrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 123;
    &::before {
      content: "";
      position: absolute;
      left: -12px;
      top: 0;
      height: 75%;
      transform: translateY(7%);
      z-index: -1;
      width: 25px;
      border-radius: 15px;
      background-color: $yellow;
    }
  }
}
