@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,600&family=Mystery+Quest&display=swap");
$black: #291507;
$dark-green: #291507;
$light-green: rgba(41, 21, 7, 0.6);
$light-green-bg: #e3e1dc;
$yellow: #dec68b;
