@import "./config";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  font-family: Montserrat, Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
