@import "../../styles/config";
.top {
  display: flex;
  justify-content: space-around;
  margin-bottom: 80px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 55px;
    top: 35px;
    z-index: -1;
    height: 38%;
    border-radius: 25px;
    width: 35px;
    background-color: $yellow;
  }
  .img {
    max-width: 370px;
    max-height: 370px;
    border-radius: 24px;
  }
  .info {
    display: flex;
    flex-direction: column;
    max-width: 600px;

    p {
      color: $dark-green;
      font-size: 16px;
      margin-bottom: 32px;
      font-weight: 500;
    }
    p span {
      font-weight: bold;
      width: 150px;
      display: inline-block;
      margin-right: 15px;
    }
    h3 {
      font-weight: 600;
      font-size: 36px;

      margin-bottom: 25px;
    }
    .desc {
      font-size: 18px;
      font-weight: 500;
    }
    .block {
      width: 60px;
      height: 12px;
      border-radius: 8px;
      background: $block-color;
      display: inline-block;
      margin-right: 15px;
    }
    .block_fade {
      @extend .block;
      opacity: 0.2;
    }
  }
}
.bot {
  margin-bottom: 176px;
  &Title {
    font-size: 36px;
    font-weight: 500;
    color: $dark-green;
    margin-bottom: 40px;
  }
  &Photos {
    display: flex;
    flex-wrap: wrap;
    &Img {
      width: 278px;
      margin-right: 45px;
      height: 278px;
      border-radius: 24px;
      margin-bottom: 53px;

      &:nth-child(4) {
        margin-right: 0;
      }
      &:nth-child(8) {
        margin-right: 0;
      }
      &:nth-child(n + 4) {
        margin-bottom: 0;
      }
    }
  }
}
